<%= content_tag 'a', nil, name: dom_id(feed) %>
<%= content_tag 'section', feed, class: "feed", id: dom_id(feed) do %>
    <div class="preview">
        <div class="actions">
            <%= link_to "x", #content_tag('i', nil, class: 'icon-minus icon-white'),
                feed, method: :delete,
                class: 'action action-danger', title: 'delete feed',
                data: {confirm: 'You sure? All associated subscriptions and stars will be destroyed.'} %>
            <%= link_to "↻", #content_tag('i', nil, class: 'icon-refresh'),
                [:refresh, feed],
                class: 'action', title: 'refresh feed' %>
        </div>
        <div class="state">
        </div>
        <div class="data">
            <% count = feed.subscriptions.size %>
            <span class="badge<%= ' badge-success' if count > 0 %>"> &#9786; <%= count %></span>
            <% count = feed.entries.starred.size %>
            <span class="badge<%= ' badge-success' if count > 0 %>"> ★ <%= count %></span>
            <% if feed.valid? %>
                <span class="badge badge-success">valid</span>
            <% else %>
                <span class="badge badge-warning">invalid</span>
            <% end %>
            <span class="title feed-title"><%= link_to (feed.title or feed.url), feed.url %></span>
            <span>(<%= feed.entries.size %> entries)</span>
            <span><%= content_tag 'a', '(web)', href: feed.feed_url %></span>
        </div>
        <div class="time">
            <% if feed.last_modified %>
                <%= time_tag feed.last_modified, time_ago_in_words(feed.last_modified) %>
            <% end %>
        </div>
    </div>
<% end %>

