<h2>Feeds</h2>

<hr />


<table>
	<tr>
		<th>id</th>
		<th>title</th>
		<th>subscriptions</th>
		<th>starred</th>
		<th>feed_url</th>
		<th>url</th>
		<th>etag</th>
		<th>last_modified</th>
		<th>items</th>
	</tr>

<% for feed in @feeds %>
	<tr>
		<td><%= feed.id %></td>
		<td><%= link_to feed.title, feed_path(feed) %></td>
		<td><%= feed.subscriptions.count %></td>
		<td><%= feed.entries.starred.count %></td>
		<td><%= feed.feed_url %></td>
		<td><%= feed.url %></td>
		<td><%= feed.etag %></td>
		<td><%= feed.last_modified %></td>
		<td><%= feed.entries.count %></td>
		<td><%= link_to '[x]', feed_path(feed), method: :delete %></td>
	</tr>
<% end %>

</table>
