<a name="<%= entry.id %>" />
<div class="entry">
	<div class="head">
		<strong>
			<%= link_to entry.title, entry %>
		</strong> -
			<%= entry.snippet %>
			<%= time_ago_in_words entry.published %>
	</div>
	<div class="body" style="display: none;">
		<a href="<%= entry.url %>"><%= entry.title %></a>
	</div>
</div>
