<a name="<%= entry.id %>" />
<article class="entry<%= ' unread' unless entry.userstate(current_user).seen %>">
	<header>
		<div class="actions">
			<%= read_unread_link(entry) %>
		</div>
		<div class="preview">
			<span class="title">
				<%= link_to entry.title, [@parent, entry] %>
			</span>
			<span class="snippet">
				-
				<%= entry.snippet %>
			</span>
		</div>
		<div class="time">
			<%= entry.published ? time_ago_in_words(entry.published).sub('about', '~') : '' %>
		</div>
		<% unless @parent %>
			<div class="parent">
				<%= entry.feed.title %>
			</div>
		<% end %>
	</header>
	<div class="body" style="display: none;">
		<a href="<%= entry.url %>"><%= entry.title %></a>
	</div>
	<hr />
</article>
