<a name="<%= entry.id %>" />
<article class="entry preview <%= ' unread' unless entry.userstate(current_user).seen %>">
	<div class="preview">
		<div class="actions">
			☆
			<%= read_unread_link(entry) %>
		</div>
		<div class="data">
			<span class="title">
				<%= link_to entry.title, [@parent, entry] %>
			</span>
			<span class="snippet">
				-
				<%= entry.snippet %>
			</span>
		</div>
		<div class="time">
			<%= entry.timestr %>
		</div>
		<% unless @parent %>
			<div class="parent">
				<%= entry.feed.title %>
			</div>
		<% end %>
		<hr/>
	</div>
	<div class="body" style="display: none;">
		<a href="<%= entry.url %>"><%= entry.title %></a>
	</div>
</article>
