<% show_complete = false unless defined? show_complete %>
<a name="<%= dom_id subscription %>"></a>
<section class="subscription<%= ' changed' if subscription.changed? %>">
	<% unless show_complete %>
			<div class="preview">
				<div class="actions">
					<%= link_to 'x', subscription, method: :delete,
						class: 'action', title: 'delete subscription' %>
					<% if subscription.changed? %>
						<%= mark_all_seen_action([subscription, :entries], text: '☐') %>
					<% else %>
						<%= mark_all_seen_action([subscription, :entries], text: '☑', classes: [:active, :disabled]) %>
					<% end %>
				</div>
				<div class="data">
					<span class="title title-subscription">
						<%= link_to subscription.title,
							app_path(subscription) %>
						<% if subscription.changed? %>
							(<%= subscription.newcount %>)
						<% end %>
					</span>
					<span class="snippet">
					</span>
				</div>
				<div class="time">
					<% modified = subscription.last_modified %>
					<%= time_tag modified, time_ago_in_words(modified) %>
				</div>
			</div>
	<% else %>
		<%= render template: 'entries/index' %>
	<% end %>
</section>
