<section class="subscription preview <%= ' unread' if subscription.changed? %>">
	<div class="preview">
		<div class="actions">
			<%= link_to '☒', subscription, method: :delete %>
		</div>
		<div class="data">
			<span class="title">
				<%= link_to subscription.feed.title, subscription %>
				<% if subscription.changed? %>
					(<%= subscription.newcount %>)
				<% end %>
			</span>
			<span class="snippet">
			</span>
		</div>
		<div class="time">
			<%= time_ago_in_words subscription.feed.last_modified %>
		</div>
	</div>
	<div class="body toggle" style="display: none">
		<dl>
			<dt>id</dt>
			<dd><%= subscription.id %></dd>
			<dt>url</dt>
			<dd><%= subscription.feed.url %></dd>
			<dt>feed-url</dt>
			<dd><%= subscription.feed.feed_url %></dd>
			<dt>entries</dt>
			<dd><%= subscription.feed.entries.count %>(<%= subscription.newcount %>)</dd>
			<dt>last-modified</dt>
			<dd><%= time_tag subscription.feed.last_modified %></dd>
		</dl>
	</div>
</section>
