<h2>Subscription View</h2>

<%= link_to 'Back', subscriptions_path %>

<dl>
	<dt>title</dt>
	<dd><%= @subscription.feed.title %></dd>
	<dt>url</dt>
	<dd><a href="<%= @subscription.feed.url %>"><%= @subscription.feed.url %></a></dd>
	<dt>feed-url</dt>
	<dd><%= @subscription.feed.feed_url %></dd>
	<dt>etag</dt>
	<dd><%= @subscription.feed.etag %></dd>
	<dt># entries</dt>
	<dd><%= @subscription.feed.entries.length %></dd>
	<dt>last-modified</dt>
	<dd><%= time_ago_in_words @subscription.feed.last_modified %></dd>
	<dt>last-updated</dt>
	<dd><%= time_ago_in_words @subscription.feed.updated_at %></dd>
</dl>

<hr />

<h3>Entries</h3>
<%= render @entries %>
