<% appname = Rails.application.class.parent_name %>
<!DOCTYPE html>
<html>
<head>
  <title><%= appname %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="all">

    <div class="banner">
        <%= link_to "I am #{appname}!", root_path, id: "logo" %>

        <% if signed_in? %>
            <div class="user">
                <%= link_to("↻", refresh_all_feeds_path, title: 'refresh all active feeds') %>
                Hi, <%= current_user.name %>! <%= link_to "logout", logout_path %>
            </div>
        <% end %>
    </div>

    <nav>
        <div class="nav-center">
            <ul class="breadcrumb">
                <% breadcrumbs() %>
                <%= yield(:breadcrumbs) %>
            </ul>
        </div>
    </nav>

    <header>
        <div class="title">
            <h1><%= yield(:title) %></h1>
            <h2><%= yield(:subtitle) %></h2>
        </div>
    </header>

    <div id="notifications">
        <% flash.each do |key, value| %>
                <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
    </div>


    <div id="form">
        <%= yield(:form) %>
    </div>

    <nav>
        <div class="nav-center">
            <%= yield(:previous) %>
            <div class="btn-group">
                <%= link_to_filter(:unseen, 'new') %>
                <%= link_to_filter(nil, 'all') %>
                <%= link_to_filter(:starred, 'stars') %>
            </div>
            <%= yield(:next) %>
        </div>
    </nav>


    <div id="content">
    <%= yield %>
    </div>


    <% if Rails.env.development? %>
    <hr />
    <section class="debug">
        <%= debug(params) %>
        <%= debug(instance_values.slice('navpath', 'title', 'parent', 'model', 'filters')) %>
    </section>
    <% end %>

    <footer>

    </footer>

</div>
</body>
</html>
