<!DOCTYPE html>
<html>
<head>
  <title>Laserchicken</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>I am Laserchicken!</h1>
<% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<% if signed_in? %>
	<div>Hi, <%= current_user.name %>! <%= link_to "logout", logout_path %></div>
<% end %>

<%= yield %>

</body>
</html>
